<div>
    <div class="card">
        <div class="text-900 font-bold text-xl mb-3">แบบบันทึกทางการพยาบาล</div>
        <p class="text-600 line-height-3">บันทึกทางการพยาบาลและกิจกรรมทางการพยาบาลที่ได้ทำขณะปฏิบัติงาน</p>
        <div class="flex items-center">
                <p-table class="tw-p-2 tw-w-full" [value]="NurseNote">
                    <ng-template pTemplate="header">
                        <tr>
                            <th width="10%">วันที่</th>
                            <th width="20%">ปัญหา</th>
                            <th width="30%">กิจกรรม</th>
                            <th width="30%">การประเมิน</th>
                            <th width="10%">ผู้บันทึก</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-note>
                        <tr>
                            <td>{{ note.thai_date }} {{note.nurse_note_time.split(':')[0]}}.{{note.nurse_note_time.split(':')[1]}} น.</td>
                            <td>{{ note.problem_list }}</td>
                            <td>{{ note.activity }}</td>
                            <td>{{ note.evaluate }}</td>
                            <td>{{ note.user_name }}</td>
                        </tr>
                    </ng-template>
                </p-table>
        </div>
    </div>
</div>
