<div>
    <div class="flex justify-end">

        <!-- <p-button (click)="isVisibleVitalSign = true" icon="pi pi-arrow-right"> บันทึก V/S</p-button> -->



        <div class="flex flex-wrap justify-content-end tw-mt-3 gap-x-3">
            <button pButton pRipple type="button" label="เพิ่ม" class="p-button-outlined p-button-secondary"
                (click)="showModalVsAdd()" size="small"></button>   
                <button pButton pRipple type="button" label="แก้ไข VS" class="p-button-outlined p-button-secondary"
                (click)="showModalVSEdit()" size="small"></button>           

        </div>

        <p-sidebar [(visible)]="isVisibleVitalSign" position="right" styleClass="p-sidebar-lg">
            <ng-template pTemplate="header">VS</ng-template>

            <ng-template pTemplate="content">
                <label>รอบที่ </label>


                <div class=" flex justify-content-center">
                    <p-dropdown [options]="roundnurse3" [(ngModel)]="selectedRoundNurse" optionLabel="name"
                        [showClear]="true" placeholder="เลือกรอบ"></p-dropdown>
                </div>             
               
                    <div class="surface-section px-4">
                        <div class="font-bold text-xl text-800 mb-3">Vital Sign </div>
                        <div class="grid nogutter">
                            <div class="flex flex-wrap">
                                <div>
                                    <label>RR1 : </label>
                                    <div class="flex mr-5">
                                        <!-- <input type="text" pInputText  [(ngModel)]="rr" /> -->
                                        <input type="text" pInputText [(ngModel)]="rr" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>BP : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="sp" class="tw-min-w-28 tw-w-28" />
                                        <label class="flex mt-1"> / </label>
                                        <input type="text" pInputText [(ngModel)]="dp" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>BW : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="bw" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                            </div>
                            
                                <div>
                                    <label>BT : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="bt" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>PR : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="pr" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>PAIN SCORE : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="painscore" required class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                            
                        </div>
                    </div>

                    <div class="surface-section px-4">
                        <div class="font-bold text-xl text-800 mb-3">Intake </div>
                        <div class="grid nogutter">
                            <div class="flex flex-wrap">
                                <div>
                                    <label>Oral Fluide : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="oralfluide" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>Parenterat : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="parenterat" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="surface-section px-4">
                        <div class="font-bold text-xl text-800 mb-3">Outtake </div>
                        <div class="grid nogutter">
                            <div class="flex flex-wrap">
                                <div>
                                    <label>Urine : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="urineout" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>Emesis : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="emesis" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>Drainage : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="drainage" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>Aspiration : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="aspiration" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="surface-section px-4">
                        <div class="font-bold text-xl text-800 mb-3">Others </div>
                        <div class="grid nogutter">
                            <div class="flex flex-wrap">
                                <div>
                                    <label>Stools : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="stools" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>Urine : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="urine" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>Medications : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="medications" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            

            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple type="button" label="บันทึก" class="p-button-outlined p-button-secondary"
                (click)="saveNurseVitalsign()" size="small"></button>
            </ng-template>


        </p-sidebar>





        <!-- [style]="{width:'1000px'}" -->
        <p-sidebar [(visible)]="isVisibleVSEdit" position="right" styleClass="p-sidebar-lg">
            <ng-template pTemplate="header">VS</ng-template>

            <ng-template pTemplate="content">
                
                <label class="flex text-red-600">*แก้ไข Vital Sign(ได้เฉพาะรอบล่าสุด)</label>

           
                    <div class="surface-section px-4">
                        <div class="font-bold text-xl text-800 mb-3">Vital Sign </div>
                        <div class="grid nogutter">
                            <div class="flex flex-wrap">
                                <div>
                                    <label>RR1 : </label>
                                    <div class="flex mr-5">
                                        <!-- <input type="text" pInputText  [(ngModel)]="rr" /> -->
                                        <input type="text" pInputText [(ngModel)]="rr" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>BP : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="sp" class="tw-min-w-28 tw-w-28" />
                                        <label class="flex mt-1"> / </label>
                                        <input type="text" pInputText [(ngModel)]="dp" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>BW : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="bw" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                            </div>
                            
                                <div>
                                    <label>BT : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="bt" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>PR : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="pr" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>PAIN SCORE : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="painscore" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                            
                        </div>
                    </div>

                    <div class="surface-section px-4">
                        <div class="font-bold text-xl text-800 mb-3">Intake </div>
                        <div class="grid nogutter">
                            <div class="flex flex-wrap">
                                <div>
                                    <label>Oral Fluide : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="oralfluide" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>Parenterat : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="parenterat" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="surface-section px-4">
                        <div class="font-bold text-xl text-800 mb-3">Outtake </div>
                        <div class="grid nogutter">
                            <div class="flex flex-wrap">
                                <div>
                                    <label>Urine : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="urineout" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>Emesis : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="emesis" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>Drainage : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="drainage" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>Aspiration : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="aspiration" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="surface-section px-4">
                        <div class="font-bold text-xl text-800 mb-3">Others </div>
                        <div class="grid nogutter">
                            <div class="flex flex-wrap">
                                <div>
                                    <label>Stools : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="stools" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>Urine : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="urine" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                                <div>
                                    <label>Medications : </label>
                                    <div class="flex mr-5">
                                        <input type="text" pInputText [(ngModel)]="medications" class="tw-min-w-28 tw-w-28" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            

            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple type="button" label="บันทึก" class="p-button-outlined p-button-secondary"
                (click)="saveNurseVitalsign()" size="small"></button>
            </ng-template>


        </p-sidebar>

    </div>
    <!-- <table class="custom-table">
        <thead>
            <tr>
                <th class="text-xs" colspan="2">Date</th>
                <th class="text-xs" *ngFor="let date of datetop">{{ date }}</th>
            </tr>
            <tr>
                <th class="text-xs" colspan="2">Day Admission</th>
                <th class="text-xs" *ngFor="let date of datetop;let i = index">{{ i+1 }}</th>
            </tr>
            <tr>
                <th class="text-xs" colspan="2">after Operation</th>
                <th class="text-xs" *ngFor="let date of datetop;let i = index"></th>
            </tr>
            <tr>
                <th style="width: 4.4%;" class="text-xs">Pulse</th>
                <th style="width: 4.3%;" class="text-xs"> ํC</th>
                <th class="text-xs" *ngFor="let date of datetop" style="padding: 1;">
                <ng-container *ngFor="let date of roundnurse1; let i = index">
                <th class="text-xs" style="width: 5%;">{{ 2 + 4 * i }}</th>
                </ng-container>
                </th>
               <th class="text-xs" *ngFor="let r of roundnurse; let i = index">{{ r }}</th>  


            </tr>

        </thead>

    </table> -->
    <!--The content below is only a placeholder and can be replaced.-->
    <div class="flex flex-row justify-center">
        <div style="height: 500px;" class="flex flex-col w-full  bg-blue-50 justify-center content-center place-self-center text-center">

            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                [stroke]="chartOptions.stroke" [colors]="chartOptions.colors" [dataLabels]="chartOptions.dataLabels"
                [legend]="chartOptions.legend" [markers]="chartOptions.markers" [grid]="chartOptions.grid"
                [yaxis]="chartOptions.yaxis" [title]="chartOptions.title" class="flex tw-w-4/5">
            </apx-chart>
        </div>
    </div>


</div>